# --------------------------
# System
# --------------------------

*~
*#*
._*
\#*
*.bak
*.tmp
*.swp
*.swo
*.swn
*.swm
*.swl
*.pid
.DS_Store


# --------------------------
# Project
# --------------------------

.idea
.idea_modules
.vscode
